@import 'colors';

.room {
  display: block;
  flex-direction: vertical;
  width: 11rem;
  height: 11rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  border-style: solid;
  border-width: 2px;
  background-color: $bg-offset;
  -webkit-box-shadow: 6px 11px 20px 5px rgba(31, 29, 31, 0.91);
  -moz-box-shadow: 6px 11px 20px 5px rgba(31, 29, 31, 0.91);
  box-shadow: 6px 7px 15px 5px rgba(31, 29, 31, 0.91);
  color: $text-offset;
  text-align: center;
  justify-content: center;
  border-radius: 100px;
}

h1 {
  margin-top: 0rem;
  color: red;
}

h4 {
  margin-top: 3rem;
}

form {
  margin-top: 2rem;
}

.temperature-block {
  margin-bottom: 2rem;
}

.settings-container {
  height: 20rem;
  padding-left: 5rem;
  overflow-x: hidden;
}

.temperature-slider {
  margin-left: auto;
  margin-right: auto;
}

.slider-container {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

